In [9]:
#!kaggle competitions download -c tweet-sentiment-extraction

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/reejungkim/.kaggle/kaggle.json'
Downloading tweet-sentiment-extraction.zip to /Users/reejungkim/Documents/Git/Sentimental analysis
100%|██████████████████████████████████████| 1.39M/1.39M [00:01<00:00, 1.20MB/s]
100%|██████████████████████████████████████| 1.39M/1.39M [00:01<00:00, 1.20MB/s]

In [10]:
import pandas as pd

In [13]:
train = pd.read_csv("/Users/reejungkim/Documents/Git/Sentimental analysis/tweet-sentiment-extraction/train.csv")
test = pd.read_csv("/Users/reejungkim/Documents/Git/Sentimental analysis/tweet-sentiment-extraction/test.csv")

In [14]:
train.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [15]:
test.head()

       textID                                               text sentiment
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1  96d74cb729   Shanghai is also really exciting (precisely -...  positive
2  eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3  01082688c6                                        happy bday!  positive
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive