In [3]:
!kaggle competitions download -c nlp-getting-started

Downloading nlp-getting-started.zip to /Users/reejungkim/Documents/Git/Sentimental analysis
100%|████████████████████████████████████████| 593k/593k [00:00<00:00, 1.12MB/s]
100%|████████████████████████████████████████| 593k/593k [00:00<00:00, 1.12MB/s]

In [4]:
import pandas as pd
import numpy as np
import os

import emoji

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

from nltk.classify import NaiveBayesClassifier
from nltk.corpus import subjectivity
from nltk.sentiment import SentimentAnalyzer
from nltk.sentiment.util import *

In [9]:
train = pd.read_csv("/Users/reejungkim/Documents/Git/Sentimental analysis/nlp-getting-started/train.csv")
test = pd.read_csv("/Users/reejungkim/Documents/Git/Sentimental analysis/nlp-getting-started/test.csv")

In [10]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [11]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan