In [3]:
#%tensorflow_version 1.x 
!pip install tensorflow-hub

Collecting tensorflow-hub
  Downloading tensorflow_hub-0.8.0-py2.py3-none-any.whl (101 kB)
     |████████████████████████████████| 101 kB 990 kB/s ta 0:00:01
Requirement already satisfied: numpy>=1.12.0 in /Users/reejungkim/opt/anaconda3/envs/myenv/lib/python3.7/site-packages (from tensorflow-hub) (1.18.1)
Requirement already satisfied: protobuf>=3.8.0 in /Users/reejungkim/opt/anaconda3/envs/myenv/lib/python3.7/site-packages (from tensorflow-hub) (3.12.3)
Requirement already satisfied: six>=1.12.0 in /Users/reejungkim/opt/anaconda3/envs/myenv/lib/python3.7/site-packages (from tensorflow-hub) (1.15.0)
Requirement already satisfied: setuptools in /Users/reejungkim/opt/anaconda3/envs/myenv/lib/python3.7/site-packages (from protobuf>=3.8.0->tensorflow-hub) (47.3.0.post20200616)
Installing collected packages: tensorflow-hub
Successfully installed tensorflow-hub-0.8.0

In [6]:
import tensorflow_hub as hub
import tensorflow as tf
from keras import backend as K

import pandas as pd
import numpy as np


%matplotlib inline
import matplotlib.pyplot as plt

import urllib.request


from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [ ]:
#https://www.kaggle.com/uciml/sms-spam-collection-dataset

In [10]:
urllib.request.urlretrieve("https://raw.githubusercontent.com/mohitgupta-omg/Kaggle-SMS-Spam-Collection-Dataset-/master/spam.csv", filename="spam.csv")
data = pd.read_csv('spam.csv',encoding='latin1')
data[:5]

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [11]:
del data['Unnamed: 2']
del data['Unnamed: 3']
del data['Unnamed: 4']
data['v1'] = data['v1'].replace(['ham','spam'],[0,1])
data[:5]

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [12]:
data.drop_duplicates(subset=['v2'], inplace=True)

In [13]:
data.v1.isnull().sum()

0

In [14]:
X_data = data.v2
y_data = data.v1

In [15]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(X_data)
sequences = tokenizer.texts_to_sequences(X_data)

In [17]:
sequences[:2]

[[47,
  433,
  4013,
  780,
  705,
  662,
  64,
  8,
  1202,
  94,
  121,
  434,
  1203,
  142,
  2712,
  1204,
  68,
  57,
  4014,
  137],
 [49, 306, 1364, 435, 6, 1767]]

In [18]:
word_to_index = tokenizer.word_index